<?php
/*

     Add here the shares you want to follow

*/

$watchlist = array(

	array(
		"SHARE" 	=> "certificates/bullolja-x5c",
                "ALL_IN"        => "0.3",
                "STRONG_BUY"    => "0.7",
		"BUY" 		=> "0.95",
		"SELL" 		=> "1.15",
		"STRONG_SELL" 	=> "1.50",
	),

        array(
                "SHARE" 	=> "exchange-trade-notes/bullseadrill-x3-cz",
                "ALL_IN"        => "0.3",
                "STRONG_BUY" 	=> "0.7",
                "BUY" 		=> "0.95",
                "SELL" 		=> "1.15",
                "STRONG_SELL" 	=> "1.6",
        ),

        array(
                "SHARE" 	=> "exchange-trade-notes/bullomx-x15-sg",
                "ALL_IN"    	=> "10",
                "STRONG_BUY" 	=> "100",
                "BUY" 		=> "270",
                "SELL" 		=> "350",
                "STRONG_SELL" 	=> "400",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bullomx-x18von2-ngm",
                "ALL_IN"        => "7.5",
                "STRONG_BUY"    => "10",
                "BUY"           => "12",
                "SELL"          => "15",
                "STRONG_SELL"   => "17.5",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bulldax-x15sg",
		"ALL_IN"	=> "3",
                "STRONG_BUY"    => "6",
                "BUY"           => "10.5",
                "SELL"          => "15",
                "STRONG_SELL"   => "20",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bulldax-x18-von",
                "ALL_IN"        => "75",
                "STRONG_BUY"    => "120",
                "BUY"           => "150",
                "SELL"          => "300",
                "STRONG_SELL"   => "450",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bullvestasx5von",
                "ALL_IN"        => "100",
                "STRONG_BUY"    => "150",
                "BUY"           => "200",
                "SELL"          => "300",
                "STRONG_SELL"   => "360",
        ),

        array(
                "SHARE"         => "warrants/NOK5L-7-26CZB",
                "ALL_IN"        => "0.45",
                "STRONG_BUY"    => "0.55",
                "BUY"           => "0.65",
                "SELL"          => "0.95",
                "STRONG_SELL"   => "1.20",
        ),

);
