<?php
/*

     Add here the shares you want to follow

*/

$watchlist = array(

	array(
		"SHARE" 	=> "certificates/bullolja-x5c",
                "ALL_IN"        => "0.3",
                "STRONG_BUY"    => "0.7",
		"BUY" 		=> "0.95",
		"SELL" 		=> "1.15",
		"STRONG_SELL" 	=> "1.50",
	),

        array(
                "SHARE" 	=> "exchange-trade-notes/bullseadrill-x3-cz",
                "ALL_IN"        => "0.3",
                "STRONG_BUY" 	=> "0.7",
                "BUY" 		=> "0.95",
                "SELL" 		=> "1.15",
                "STRONG_SELL" 	=> "1.6",
        ),

        array(
                "SHARE" 	=> "exchange-trade-notes/bullomx-x15-sg",
                "ALL_IN"    	=> "10",
                "STRONG_BUY" 	=> "100",
                "BUY" 		=> "270",
                "SELL" 		=> "350",
                "STRONG_SELL" 	=> "400",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bullomx-x18-von2",
                "ALL_IN"        => "1",
                "STRONG_BUY"    => "2.5",
                "BUY"           => "7",
                "SELL"          => "15",
                "STRONG_SELL"   => "20",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bulldax-x15sg",
		"ALL_IN"	=> "2",
                "STRONG_BUY"    => "3",
                "BUY"           => "10.5",
                "SELL"          => "15",
                "STRONG_SELL"   => "20",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bulldax-x18-von2",
                "ALL_IN"        => "2",
                "STRONG_BUY"    => "5",
                "BUY"           => "11",
                "SELL"          => "15",
                "STRONG_SELL"   => "17.5",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bullnokiax5c",
                "ALL_IN"        => "2",
                "STRONG_BUY"    => "3",
                "BUY"           => "5",
                "SELL"          => "7.5",
                "STRONG_SELL"   => "11",
        ),

        array(
                "SHARE"         => "warrants/NOK5L-7-26CZB",
                "ALL_IN"        => "0.45",
                "STRONG_BUY"    => "0.55",
                "BUY"           => "0.65",
                "SELL"          => "0.95",
                "STRONG_SELL"   => "1.20",
        ),


);
