<?php

$watchlist = array(

	array(
		"SHARE" 	=> "certificates/bullolja-x5c.php",
                "ALL_IN"        => "0.3",
                "STRONG_BUY"    => "0.7",
		"BUY" 		=> "0.9",
		"SELL" 		=> "1.15",
		"STRONG_SELL" 	=> "1.50",
	),

        array(
                "SHARE" 	=> "exchange-trade-notes/bullseadrill-x3-cz.php",
                "ALL_IN"        => "0.3",
                "STRONG_BUY" 	=> "0.7",
                "BUY" 		=> "0.9",
                "SELL" 		=> "1.15",
                "STRONG_SELL" 	=> "1.6",
        ),

        array(
                "SHARE" 	=> "exchange-trade-notes/bullomx-x15-sg.php",
                "ALL_IN"    	=> "10",
                "STRONG_BUY" 	=> "150",
                "BUY" 		=> "200",
                "SELL" 		=> "350",
                "STRONG_SELL" 	=> "400",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bulldax-x15sg.php",
		"ALL_IN"	=> "1",
                "STRONG_BUY"    => "10",
                "BUY"           => "20",
                "SELL"          => "25",
                "STRONG_SELL"   => "30",
        ),

);
