<?php
/*

     Add here the shares you want to follow

*/

$watchlist = array(

	array(
		"SHARE" 	=> "certificates/bull-olja-x5c",
                "ALL_IN"        => "0.3",
                "STRONG_BUY"    => "0.7",
		"BUY" 		=> "0.95",
		"SELL" 		=> "1.35",
		"STRONG_SELL" 	=> "1.50",
	),

        array(
                "SHARE" 	=> "exchange-trade-notes/bull-seadrill-x3-cz",
                "ALL_IN"        => "0.3",
                "STRONG_BUY" 	=> "0.7",
                "BUY" 		=> "0.95",
                "SELL" 		=> "1.15",
                "STRONG_SELL" 	=> "1.6",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-gas-x5c",
                "ALL_IN"        => "0.35",
                "STRONG_BUY"    => "0.5",
                "BUY"           => "0.75",
                "SELL"          => "1.2",
                "STRONG_SELL"   => "1.6",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-gild-x5-von",
                "ALL_IN"        => "50",
                "STRONG_BUY"    => "75",
                "BUY"           => "100",
                "SELL"          => "130",
                "STRONG_SELL"   => "150",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-silver-x4c",
                "ALL_IN"        => ".3",
                "STRONG_BUY"    => "0.5",
                "BUY"           => "0.6",
                "SELL"          => "0.75",
                "STRONG_SELL"   => "0.8",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-koppar-x4c",
                "ALL_IN"        => "3",
                "STRONG_BUY"    => "4",
                "BUY"           => "4.5",
                "SELL"          => "5.5",
                "STRONG_SELL"   => "6",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-pallad-x8-von",
                "ALL_IN"        => "5",
                "STRONG_BUY"    => "10",
                "BUY"           => "20",
                "SELL"          => "50",
                "STRONG_SELL"   => "75",
        ),

        array(
                "SHARE" 	=> "exchange-trade-notes/bull-omx-x15-sg",
                "ALL_IN"    	=> "10",
                "STRONG_BUY" 	=> "100",
                "BUY" 		=> "270",
                "SELL" 		=> "350",
                "STRONG_SELL" 	=> "400",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-omx-x18-von2",
                "ALL_IN"        => "1",
                "STRONG_BUY"    => "2.5",
                "BUY"           => "7",
                "SELL"          => "15",
                "STRONG_SELL"   => "20",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bear-omx-x15-sg2",
                "ALL_IN"        => "0.5",
                "STRONG_BUY"    => "0.9",
                "BUY"           => "1",
                "SELL"          => "2",
                "STRONG_SELL"   => "2.5",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-estoxxx-15sg",
                "ALL_IN"        => "1",
                "STRONG_BUY"    => "3",
                "BUY"           => "6",
                "SELL"          => "10",
                "STRONG_SELL"   => "20",
        ),


        array(
                "SHARE"         => "exchange-trade-notes/bull-dax-x15sg",
		"ALL_IN"	=> "0.5",
                "STRONG_BUY"    => "1.5",
                "BUY"           => "5",
                "SELL"          => "10",
                "STRONG_SELL"   => "15",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-dax-x18-von2",
                "ALL_IN"        => "1",
                "STRONG_BUY"    => "2",
                "BUY"           => "11",
                "SELL"          => "20",
                "STRONG_SELL"   => "35",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bear-dax-x18-von",
                "ALL_IN"        => "3.5",
                "STRONG_BUY"    => "4.5",
                "BUY"           => "6",
                "SELL"          => "10",
                "STRONG_SELL"   => "12",
        ),

        array(
                "SHARE"         => "warrants/LONGDAX-D5-CG",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/LONGDAX-BNP28",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/LONGDAX-BNP25",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/B-LONGDAX-KV-CZB",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/T-LONGDAX-BNP71",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/T-LONGDAX-G4-CG",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/B-SHORTDAX-PG-CZB",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2.5",
                "SELL"          => "3",
                "STRONG_SELL"   => "3.5",
        ),

        array(
                "SHARE"         => "warrants/T-SHORTDAX-IT-CG",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2.5",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "warrants/T-SHORTDAX-BNP70",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "2",
                "BUY"           => "2.5",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-nokiax5c",
                "ALL_IN"        => "1.5",
                "STRONG_BUY"    => "3",
                "BUY"           => "5",
                "SELL"          => "7.5",
                "STRONG_SELL"   => "11",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-yit-x3-c2",
                "ALL_IN"        => "1",
                "STRONG_BUY"    => "1.5",
                "BUY"           => "2",
                "SELL"          => "3",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-nordea-x5-von",
                "ALL_IN"        => "100",
                "STRONG_BUY"    => "150",
                "BUY"           => "200",
                "SELL"          => "300",
                "STRONG_SELL"   => "350",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-nre-x3-c",
                "ALL_IN"        => "1.2",
                "STRONG_BUY"    => "1.5",
                "BUY"           => "2.5",
                "SELL"          => "4",
                "STRONG_SELL"   => "5",
        ),

        array(
                "SHARE"         => "exchange-trade-notes/bull-google-x3c",
                "ALL_IN"        => "100",
                "STRONG_BUY"    => "220",
                "BUY"           => "250",
                "SELL"          => "300",
                "STRONG_SELL"   => "350",
        ),

);
